# Node modules
/backend/node_modules/
 /frontend/node_modules/

# Environment variables
/backend/.env
/frontend/.env

# Build files
/frontend/dist
/frontend/build

# Logs
/logs
*.log
npm-debug.log*

# IDE files
.vscode/
.DS_Store
